/*------------------------------*\
----Mobile first design----------
*\-------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

/* universal style */
:root {
  --common-margin: 1rem 0;
  --logo-border: 2px solid rgba(128, 128, 128, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* common style */

.container,
.mini-container {
  margin: 0 auto;
  width: 90%;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
button:hover {
  cursor: pointer;
}
.btn {
  display: inline-block;
  margin: 2rem 0;
  padding: 0.8rem 2rem;
  background-color: #e02c6d;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.1rem;
  font-weight: bold;
  border: transparent;
  transition: transform 0.5s;
}
.btn:hover {
  box-shadow: 2px 2px 10px #e02c6d;
  transform: translateY(-5px);
  color: white;
}
.round-edge {
  border-radius: 2rem;
}
.s-edge {
  border-radius: 0.3rem;
}
/* navigation menu  */

.flex-nav {
  display: flex;
}
.flex-nav {
  margin: 2rem 0 0 0;
  justify-content: center;
  color: #3a3a3a;
}
.site-name {
  font-size: 1.8rem;
  font-weight: bold;
}
.nav__list {
  display: none;
}
.list__item {
  list-style-type: none;
}
.item__link {
  color: #3a3a3a;
}

/* main content */

.camera-imagediv {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}
.camera-imagediv img {
  background: url(./images/Circledesign.svg);
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
}
.text-description {
  text-align: center;
  color: #3a3a3a;
}
.starting-head {
  margin-bottom: 1rem;
  font-size: 3.25rem;
  font-weight: bold;
}
.description-para {
  font-weight: 600;
}

/* logo section style */
.logo-container,
.logo {
  display: flex;
}
.logo-container {
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-top: var(--logo-border);
  border-bottom: var(--logo-border);
}
.logo {
  align-items: center;
  margin: var(--common-margin);
  width: 130px;
}

/* products style */

.pro-collection {
  margin: 4rem 0 3rem 0;
  text-align: center;
  color: #3a3a3a;
  font-weight: 700;
}
.products {
  display: flex;
  flex-wrap: wrap;
}
.product {
  padding: 1rem;
  margin: 1.5rem auto;
  width: 90%;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 30px grey;
  transition: transform 0.6s;
  font-family: 'Inter', sans-serif;
}
.product:hover {
  transform: translateY(-10px);
}
.product-demo {
  width: 100%;
}
.product-name {
  margin: var(--common-margin);
  font-size: 1.75rem;
  font-weight: bold;
}
.product-name a {
  color: #000;
}
.price {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3a3a3a;
}
.rating {
  margin: var(--common-margin);
}
.filled,
.empty {
  font-size: 0.7rem;
}
.filled {
  color: orange;
}
.empty {
  color: #3a3a3a7e;
}
.num-rate {
  color: #3a3a3a;
  font-weight: 600;
}
.facility {
  margin: var(--common-margin);
  color: #787885;
}
.bgnull-btn {
  margin: var(--common-margin);
  text-align: right;
  font-weight: bold;
}
.bgnull-btn a {
  color: #e02c6d;
}

/* featured section */

.featured {
  text-align: center;
  font-weight: bold;
}
.featured-head {
  font-size: 2rem;
  color: #0a0826;
}
.featured-para {
  color: #6c6c6c;
}
.featured-head,
.featured-para {
  margin: var(--common-margin);
}
/* footer style */

footer,
footer a {
  background-color: #0a0826;
  font-weight: 700;
  color: white;
  font-size: 1.1rem;
  letter-spacing: 1px;
}
.foot {
  padding: 2rem 0;
  text-align: center;
}
.footer-head {
  margin: var(--common-margin);
}
.foot-txt {
  font-size: 0.75rem;
  margin: var(--common-margin);
  color: #d9dbe1;
}
.social-icon,
.social-link {
  display: flex;
  justify-content: center;
}
.social-link {
  margin-left: 0.5rem;
  width: 50px;
  height: 50px;
  background-color: #22213c;
  text-align: center;
  border-radius: 50%;
  transition: all 0.5s;
}
.s-icon {
  align-self: center;
}
.social-link:hover {
  font-size: 1.3rem;
  transform: scale(1.2);
  color: rgb(100, 83, 211);
  background-color: white;
}

/* -------------------- *\
 media queries start
\* -------------------- */
@media screen and (min-width: 576px) {
  .product {
    width: 48%;
  }
}
@media screen and (min-width: 850px) {
  .flex-nav {
    justify-content: space-between;
    margin-top: 3rem;
  }
  .flex-con,
  .nav__list {
    display: flex;
    justify-content: space-between;
  }
  .nav__list {
    align-items: center;
  }
  .list__item + .list__item {
    margin-left: 1.5rem;
  }
  .flex-con {
    padding: 5rem 0;
  }
  .flex-txt {
    width: 50%;
  }
  .flex-img {
    width: 45%;
  }
  .flex-img,
  .flex-txt {
    margin: 0;
    text-align: left;
  }
  .text-description,
  .featured-img {
    order: -1;
  }
  .camera-imagediv,
  .featured-img {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 992px) {
  .list__item + .list__item {
    margin-left: 2.5rem;
  }
  .product {
    width: 31%;
  }
  .flex-img {
    margin: 2rem auto;
  }
  .flex-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .btn {
    width: inherit;
  }
}
@media screen and (min-width: 1170px) {
  .container {
    max-width: 1200px;
  }
  .mini-container {
    max-width: 1150px;
  }
}
